.signup {
   min-height: 600px;
   box-shadow: 0px -12px 25px -7px #a1a1a1;
   position: relative;
   height: calc(100vh - 80px);
   width: 100vw;
   background: linear-gradient(38deg, #e39191 0%, #38acfc 100%);
   &__body {
      margin: 0 auto;
      position: relative;
   }
   &__title {
      text-align: center;
      padding: 60px 0 40px 0;
      margin: 10px;
      color: $white;
   }
}

.form {
   margin: 0 auto;
   width: 300px;
   &__text {
      font-size: 16px;
      font-weight: 600;
      padding-bottom: 10px;
      margin: 10px;
   }
   &__text a{
      color: $white;
      text-decoration: underline;
   }
   &__inputs{
      margin: 20px auto;
      width: 250px;
      display: flex;
      gap: 10px;
      flex-direction: column;
   }
   &__row {
      max-width: 350px;
      margin: 25px;
      display: flex;
      align-items: start;
      &__input:checked{
         background: $mainColor1;
      }
   }
   &__label {
      font-size: 16px;
      font-weight: 600;
      padding-bottom: 10px;
      margin:0 10px;
   }
   &__imput {
      padding-left: 20px;
      padding: 5px;
      border-radius: 6px;
      font-weight: 600;
      transition: .3s;
   }
   &__imput:focus{
      box-shadow:$boxShadow;
   }
   &__imput::placeholder{
      font-weight: 600;
   }
   &__button {
      margin: 0 100px;
      color: $white;
      font-weight: 600;
      border-radius: 6px;
      display: inline-block;
      padding: 10px 20px;
      background: linear-gradient(45deg, $mainColor1, $mainColor2);
      background-size:101%;
      background-position: center;
      transition: .3s;
      box-shadow: 0 0 0 rgba($color: #000000, $alpha: 0.0);
   }
   &__button:hover {
      box-shadow:$boxShadow;
      transition: .3s;
      background-size:200%;
   }
}

//waves bottom
.animation {
   width: 100vw;
   position: absolute;
   bottom: 0;
   left: 0;

   &__waves {
      position:relative;
      width: 100%;
      height:15vh;
      margin-bottom:-7px;
      min-height:100px;
      max-height:150px;
   }
   &__parallax > use {
      animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
   }
   &__parallax > use:nth-child(1) {
      animation-delay: -2s;
      animation-duration: 7s;
   }
   &__parallax > use:nth-child(2) {
      animation-delay: -3s;
      animation-duration: 10s;
   }
   &__parallax > use:nth-child(3) {
      animation-delay: -4s;
      animation-duration: 13s;
   }
   &__parallax > use:nth-child(4) {
      animation-delay: -5s;
      animation-duration: 20s;
   }
}
@keyframes move-forever {
   0% {
    transform: translate3d(-90px,0,0);
   }
   100% { 
     transform: translate3d(85px,0,0);
   }
}

@media (max-width: 768px) {
   .waves {
     height:40px;
     min-height:40px;
   }
}